.git
.codex
.cursor
.idea
.nova
.phpunit.cache
.vscode
.zed

.DS_Store
.env
.env.backup
.env.production
auth.json

node_modules
vendor

public/build
public/hot
public/storage
public/fonts-manifest.dev.json

database/*.sqlite

storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail

*.log
Thumbs.db
